body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
    padding: 6px 10px;
    margin: 5px;
    background-color: green;
    border-radius: 3px;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    max-width: 300px;
}

label {
    display: flex;
    flex-direction: column;
    align-item: flex-start;
    margin: 15px 0;
}

.plant{
  background-color: aquamarine;
  width: 150px;
  margin: 20px;
}

.plantContainer{
  display: flex;
  flex-wrap: wrap;
}
/* .plantContainer h2{
  margin: 20px 0;
} */