body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
    padding: 4px 14px;
    margin: 5px;
    background-color: rgba(6, 32, 6, 0.945);
    border-radius: 4px;
    color: white;
    opacity: 95%;
    border: none;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    font-size: 21px;
    /* padding: 3px; */
    height: 32px;
    /* width: 300px; */
    /* transition: all 0.5s; */
    cursor: pointer;
    /* margin: 0 auto; */
    transition-duration: 0.5s;
}

button:hover {
  background-color: gray; /* Green */
  color: white;
}

form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    max-width: 300px;
}

label {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.plant{

  width: 150px;
  margin: 20px;
  border-radius: 5px;
  border: 1px solid green;
}
.plant button {
  color: darkgreen;
  font-size: .75rem;
  background-color: lightseagreen;
}
.plant h4 {
  color: #34b386;
  font-size: .65rem;
}

.plantContainer{
  display: flex;
  flex-wrap: wrap;
}



.buttonLogin{
  /* display: inline-block; */
  justify-content: center;
  align-content: center;
  border-radius: 4px;
  background-color: #B0B0B0;
  border: none;
  color: #FFFFFF;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  padding: 3px;
  height: 30px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0 auto;
}

.buttonLogin span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonLogin span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonLogin:hover span {
  padding-right: 25px;
}

.buttonLogin:hover span:after {
  opacity: 1;
  right: 0;
}
